p{ 
font-family: chiller ;
font-size: large ;
	color : royalblue;
text-align: center ;
}
h1 { text-align: center ;
	align-content : center; 
	color : blueviolet; 
}


h2 { 
	text-align: center ;
	color : cornflowerblue; }
 align-self : center ; 


p { text-align: center;
	background: skyblue;


border-bottom: color : blue ;

}
h3 { text-align: center ;
	color : rebeccapurple ;

	font-family: bradley hand (tc ;
 }
h4 { 
	text-align: center  ;
	border-right-color: powderblue ;
	color : deepskyblue;
}
