*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
    font-family: century schoolbook;
}

#contenedor{
    text-justify: ;
    width: 80%;
    margin: 2px auto;
    border: 5px dashed white;
}

header{
    color: lightskyblue;
    background: mediumpurple;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-bottom: 4px paleturquoise;

}

nav{
    background: lightskyblue;
    height: 50px;
    border-bottom: 2px solid blue;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.limpieza{
    clear: both;
}

#contenido{
    float: left;
    width: 80%;
    min-height: 500px;
    background: deepskyblue;
}

aside{
    float: left;
    width: 18%;
    min-height: 500px;
    background: mediumpurple;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}